@model IEnumerable<CineORT.Models.Reserva>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de Reservas</h1>

<p>
    <a asp-action="Create">Crear Reserva</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaReserva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadAsientos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Funcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaReserva)
            </td>
            <td>
              $  @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadAsientos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Funcion.FuncionId)
            </td>
            <td>

                <a asp-action="Details" asp-route-id="@item.ReservaId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.ReservaId">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
